* {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

header a {
    text-align: center;
}

header img {
    width: 70px;
}

#hero .btns, 
#main .btns,
#new-client .btns,
#clients .btns {
    background-color: rgb(255, 200, 0);
    color: white;
}

#hero .btn2:hover,
#main .btn2:hover,
#clients .btn2:hover {
    background-color: rgb(255, 200, 0);
    color: white;
}

.navbar {
    position: fixed;
    background-color: rgb(255, 200, 0);
}

.navbar a {
    color: white;
}

#hero {
    background-color: rgb(251, 251, 251);
    text-align: center;
}

#hero h1 {
    font-size: 2.5em;
}

#hero img {
    height: 60vh;
    width: 100vw;
    object-fit: cover;
    position: center;
}

#main {
    text-align: center;
}

#search-bar {
    padding: 5px 15px;
    margin-bottom: 5px;
    width: 76vw;
}

#add-client {
    padding: 5px 15px;
    width: 76vw;
}

#add-client i {
    font-size: 0.9em;
}

#add-client:hover {
    background-color: white;
    color: rgb(255, 200, 0);
    border: solid 1px rgb(255, 200, 0);
}

#label-preview p {
    font-weight: lighter;
}

#details, #sender, #note {
    padding: 15px 0;
}

#note h1 {
    padding: 15px;
    font-size: 1em;
    margin-bottom: 0;
}

/* NEW.HTML PAGE */

#new-client {
    background-image: 
        linear-gradient(
        0deg,
        rgba(255, 255, 255, .9),
        rgba(255, 255, 255, .9)
    ), url(../assets/images/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 60px 30px;
}

#new-client h1 {
    font-size: 2.5em;
}

#new-client form {
    margin: auto;
}

#new-client p {
    font-size: 0.9em;
}

#new-client .btns {
    width: 76w;
}

/* CLIENTS.HTML PAGE */

#clients {
    background-image: 
        linear-gradient(
        0deg,
        rgba(255, 255, 255, .9),
        rgba(255, 255, 255, .9)
    ), url(../assets/images/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 60px 30px;
}

#clients h1 {
    font-size: 2.5em;
}

#clients .container {
    padding: 40px 45px;
    background-color: white;
    width: 100%;
    overflow-x: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .05);
}

#clients table {
    min-width: 750px;
}

#clients p {
    font-size: 0.9em;
}

#clients .btns {
    width: 76w;
}

footer {
    background: rgb(255, 200, 0);
    text-align: center;
}

footer a {
 color: white;
}